.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 16px;
    color: #646a73;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 16px;
    color: #f54a45;
}